- var version = 1.1
doctype html
html
  head
    meta(charset='utf-8')
    title 八度导航
    link(href='assets/templ-1/style.css?v=' + version, rel='stylesheet', type='text/css')
    link(href='assets/templ-1/sprite.css?v=' + version, rel='stylesheet', type='text/css')
  body
    #background
      #gloss
    #container
      #search-area
        img#logo(src='assets/img/nav-logo.png')
        #search
          input#search-input(autocomplete="off")
          button#search-button(type='button') 搜 索
          ul#engines
            li
              label
                input(type='radio', name='engine', value='google')
                |  Google(镜像)
            li
              label
                input(type='radio', name='engine', value='bing')
                |  必应
            li
              label
                input(type='radio', name='engine', value='sogou')
                |  搜狗
            li
              label
                input(type='radio', name='engine', value='baidu')
                |  百度
            li
              label
                input(type='radio', name='engine', value='wikipedia')
                |  WikiPedia(镜像)
      #navigation-area
        each category in categories
          .nav-panel
            .nav-left
              .first-class #{category.name.split('').join(' ')}
              .link-info(id='link-info-' + category.slug)
                .icon: img(src=category.icon_url || 'assets/img/hfut-logo.jpg')
                .description #{category.description}
            .nav-right
              ul.second-classes(data-active=category.slug + '-hot')
                each subcategory in category.subcategories
                  li(data-target=category.slug + '-' + subcategory.slug, class=subcategory.slug === 'hot' && 'active' data-category=category.slug data-icon-url=subcategory.icon_url data-description = subcategory.description) #{subcategory.name}
              a.share(href="javascript:void(0)", data-category=category.name) 我要分享
              .link-page
                each subcategory in category.subcategories
                  .links(id=category.slug + '-' + subcategory.slug, class=subcategory.slug === 'hot' && 'active')
                    each website in subcategory.websites
                      a(href=website.url, data-description=website.description, data-icon-url=website.icon_url data-category=category.slug target="_blank" data-id=website._id) #{website.name}
    #footer
      .text
        | Copyright &copy; 八度导航 2016
      .text
        | 如果你觉得本站还有那些地方做的不好，
        a(href='javascript:' onclick='popup("feedback")') 点击这里来反馈吧
      .text
        | Powered by &nbsp;合肥工业大学（宣城校区）
        a(href="https://xcsoft.hfut.edu.cn") 软件工程创新实验室

    #recommend.popup
      .title 网址推荐
      form#recommend-form.body
        .line
          span 网站名称
          input(name='name', autocomplete="off")
        .line
          span 网站首页网址
          input(name='url', autocomplete="off")
        .line
          span 分类名称
          input(name='category', autocomplete="off")
        .line
          span 推荐语
          textarea(name='description', placeholder='一句话体现出网站的特色')
        .line
          span  推荐人 Email
          input(name='email')
        button.btn.btn-submit(type='submit') 提交
        button.btn.btn-cancel(type='button', onclick="closepop()") 取消

    #feedback.popup
      .title 意见反馈
      form#feedback-form.body
        .line
          span Email
          input(name='email')
        .line
          span 反馈内容
          textarea(name='content', placeholder='对本站有什么不满的, 大声说出来吧')
        button.btn.btn-submit(type='submit') 提交
        button.btn.btn-cancel(type='button', onclick="closepop()") 取消


    #ctrl-panel
      .ctrl-row
        a.sp-dc9fb4.bg-color(href='javascript:void(0);', data-color='#dc9fb4')
        a.sp-9e7a7a.bg-color(href='javascript:void(0);', data-color='#9e7a7a')
        a.sp-d7c4bb.bg-color(href='javascript:void(0);', data-color='#d7c4bb')
      .ctrl-row
        a.sp-d7b98e.bg-color(href='javascript:void(0);', data-color='#d7b98e')
        a.sp-91b493.bg-color(href='javascript:void(0);', data-color='#91b493')
        a.sp-86a697.bg-color(href='javascript:void(0);', data-color='#86a697')
      .ctrl-row
        a.sp-72636e.bg-color(href='javascript:void(0);', data-color='#72636e')
        a.sp-546e7a.bg-color(href='javascript:void(0);', data-color='#546e7a')
        a.sp-b9887d.bg-color(href='javascript:void(0);', data-color='#b9887d')
    script(src='assets/common/jquery-1.11.3.min.js')
    script(src='assets/common/jquery.color.min.js')
    script(src='assets/common/jquery-cookie.min.js')
    script(src='assets/common/modernizr-custom.js')
    script(src='assets/templ-1/script.js?v=' + version)
